---
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import Layout from "../layouts/Layout.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import InstagramIcon from "../components/icons/InstagramIcon.astro";
import XIcon from "../components/icons/XIcon.astro";
import Mailicon from "../components/icons/Mailicon.astro";
import Experience from "../components/Experience.astro";
import SectionConteiner from "../components/SectionConteiner.astro";
import BriefcaseIcon from "../components/icons/BriefcaseIcon.astro";
---

<Layout
  title="Portfolio de Santiago Benítez Álvarez - Desarrollador y Programador web"
  description="Contrata a Santiago para crear tu aplicación Web. Desarrollador Web y de Contenido. Especializado en crear webs unicas"
>
  <main>
    <SectionConteiner class="py-44 pb-24">
      <img
        class="rounded-full w-50 h-40 ml-3 text-4xl md:text-5xl font-semibold text-white drop-shadow-[0_2px_6px_rgba(173,216,230,0.5)]
    mb-12 animate-fade-in tracking-wide"
        src="/src/assets/Santydev_photo/_DSC7034.JPG"
        alt="Santydev photo"
      />
      <h1
        class="ml-3 text-4xl md:text-5xl font-semibold text-white drop-shadow-[0_2px_6px_rgba(173,216,230,0.5)]
    mb-12 animate-fade-in tracking-wide"
      >
        Hey, I'm Santiago Benítez Álvarez
        <a
          href="https://es.linkedin.com/in/santiagosba"
          target="_blank"
          rel="noopener"
          class="w-full overflow-x-auto whitespace-nowrap relative -top-1.5 ml-2 drop-shadow-[0_2px_6px_rgba(173,216,230,0.5)] animate-fade-in tracking-wide"
        >
          <Badge>Open to work</Badge>
        </a>
      </h1>
      <h2
        class="ml-3 text-4xl md:text-2xl font-semibold text-white drop-shadow-[0_2px_6px_rgba(173,216,230,0.5)]
    mb-12 animate-fade-in tracking-wide"
      >
        <span>More of two years of experience.</span><span class="text-blue-300">
          Web Developer and Content Creator.</span
        > Based in
        <span class="text-red-300"
          >Barcelona, España <img
            src="https://flagcdn.com/es.svg"
            alt="🇪🇸"
            class="inline w-8 h-5 align-middle"
          /></span
        >
        . <span class="opacity-80"
          >Specialized in creating unique applications.</span
        >
      </h2>

      <nav class="mt-10 animate-fade-in tracking-wide">
        <SocialPill
          href="https://es.linkedin.com/in/santiagosba"
          label="LinkedIn"
        >
          <LinkedinIcon class="w-5 h-5 icon-glow" />
        </SocialPill>

        <SocialPill href="https://github.com/Santiagosba" label="GitHub">
          <GitHubIcon class="w-5 h-5 icon-glow" />
        </SocialPill>

        <!--Instagram y x ocultos de momento ya que no son todavía de trabajo-->
        <!-- <SocialPill
          href="https://www.instagram.com/tuusuario"
          label="Instagram"
        >
          <InstagramIcon class="w-5 h-5 icon-glow" />
        </SocialPill>

        <SocialPill href="https://x.com/tuusuario">
          <XIcon class="w-5 h-5 icon-glow" />
        </SocialPill> -->

        <SocialPill href="mailto:santiagosba888@gmail.com" label="Email">
          <Mailicon class="w-5 h-5 icon-glow" />
        </SocialPill>

        <a href="https://github.com/Santiagosba"> </a>
      </nav>
    </SectionConteiner>

    <SectionConteiner id="Experience">
      <h2
        class="mt-28 ml-3 text-4xl md:text-5xl font-semibold text-white drop-shadow-[0_2px_6px_rgba(173,216,230,0.5)]
    mb-12 animate-fade-in tracking-wide flex items-center gap-2"
      >
        <BriefcaseIcon class="w-10 h-10" />
        Experience
      </h2>

      <Experience />
    </SectionConteiner>
  </main>
</Layout>
