---
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import Mailicon from "./icons/Mailicon.astro";
---


<footer
  class="animate-fade-in w-full py-10 text-white/90 bg-transparent  drop-shadow-[0_2px_6px_rgba(173,216,230,0.5)]"
>
  <div
    class="max-w-4xl mx-auto flex flex-col md:flex-row items-center justify-center md:justify-between gap-5 px-5 text-center"
  >
    <p
      class="text-sm md:text-base font-medium tracking-wide drop-shadow-[0_1px_3px_rgba(173,216,230,0.5)]"
    >
      © 2025 Santiago Benítez Álvarez — Todos los derechos reservados
    </p>

    <div class="flex gap-5 items-center mt-3 md:mt-0">
      <a
        href="https://es.linkedin.com/in/santiagosba"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
        class="transition hover:scale-110 drop-shadow-[0_0_6px_rgba(173,216,230,0.5)]"
      >
        <LinkedinIcon
          class="w-6 h-6 text-blue-400 hover:text-white transition"
        />
      </a>
      <a
        href="https://github.com/Santiagosba"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
        class="transition hover:scale-110 drop-shadow-[0_0_6px_rgba(173,216,230,0.5)]"
      >
        <GitHubIcon class="w-6 h-6 text-blue-400 hover:text-white transition" />
      </a>
      <a
        href="mailto:santiagosba888@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Email"
        class="transition hover:scale-110 drop-shadow-[0_0_6px_rgba(173,216,230,0.5)]"
      >
        <Mailicon class="w-6 h-6 text-blue-400 hover:text-white transition" />
      </a>
    </div>
  </div>
</footer>